
{% if status == 'draft' %}
<span class="glyphicon glyphicon-question-sign" style ="font-size: 12px"></span>
{% endif %}
{% if status == 'paid' %}
<span class="glyphicon glyphicon-usd"></span>
{% endif %}
{% if status == 'confirmed' %}
<span class="glyphicon glyphicon-thumbs-up"></span>
{% endif %}
