

{% if position == 'H' %}
<span class="glyphicon glyphicon-ice-lolly-tasted"></span>
{% endif %}
{% if position == 'D' %}
<span class="glyphicon glyphicon-road"></span>
{% endif %}
{% if position == 'F' %}
<span class="glyphicon glyphicon-briefcase"></span>
{% endif %}
{% if position == 'FD' %}
<span class="glyphicon glyphicon-briefcase">  <span class="glyphicon glyphicon-road"></span>
{% endif %}
