{% load staticfiles %}
{% load twilio_app_tags %}
<!DOCTYPE html>
<html lang="en">
<!-- Latest compiled and minified CSS -->
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">

<!-- Optional theme -->
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap-theme.min.css" integrity="sha384-rHyoN1iRsVXV4nD0JutlnGaslCJuC7uwjduW9SVrLvRYooPp2bWYgmgJQIXwl/Sp" crossorigin="anonymous">

<!-- Latest compiled and minified JavaScript -->
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>
<head>
    <meta charset="UTF-8">
    <title>{%  block title %} {% endblock %}</title>
</head>
<body>
<div class ="row"> <!-- HEADER -->
    <div class = "col-xs-1"></div>
    <div class = "col-md-10">
     <nav class="navbar navbar-inverse ">
      <div class="container-fluid">
        <div class="navbar-header">
          <a class="navbar-brand" href="{% url 'index' %}">Hours ONLINE</a>
        </div>
        <ul class="nav navbar-nav">
        {% if user.is_authenticated %}
            {% if  not request.user|has_group:'managers'   %}

                <li class="active"><a href="{% url "dashboard"  %}">Dashboard </a></li>
            {% else %}
                <li class="active"><a href="{% url "admin_dashboard"  %}">Admin dashboard</a></li>
            {% endif %}
        {% endif %}
            <li><a href="#">FAQ</a></li>
            <li><a href="#">Contact us</a></li>
            <li><a href="#">Help</a></li>
            <li><a href="{% url 'generate_database' %}">New Database</a></li>
        </ul>
        <ul class="nav navbar-nav navbar-right">
          <li><a href="#"><span class="glyphicon glyphicon-user"></span> Sign Up</a></li>

            {% if user.is_authenticated %}
                <li>
                    <a href="{% url 'logout' %}"><span class="glyphicon glyphicon-log-out">
                    </span> ({{ request.user.username }}) Log-out</a>
                </li>
            {% else %}
                <li><a href="{% url 'login' %}"><span class="glyphicon glyphicon-log-in"></span> Login</a></li>
            {% endif %}


        </ul>
      </div>
    </nav>
    </div>
    <div class = "col-xs-1"></div>
</div> <!-- HEADER row-->

<div class ="row"> <!-- CONTENT -->
    <div class = "col-xs-1"></div>
    <div class = "col-md-10">

    {% if messages %}
    <ul class="messages">

        {% for message in messages %}
          <div class="alert alert-{{ message.tags }}">{{ message }}</div>

        {% endfor %}
    </ul>
    {% endif %}

        {% block content %}

        {% endblock %}







    </div>
    <div class = "col-xs-1"></div>
</div> <!-- end of ROW -->
</body>
</html>