{% extends "base.html" %}
{% block title %}Log-in{% endblock %}

{% block content %}

<h1>Log-in</h1>
<p>Please, use the following form to log-in:</p>




    <form action="." method="post">
        {{ form.as_p }}
        {% csrf_token %}
        <p><input type="submit" class="btn btn-default" value="Log-in"></p>
    </form>

    <div class ="well">
        <p>If you forgot your <strong>username</strong> please text <code>whoami</code> to <kbd>+1 (323) 798-9917</kbd> </p>
    </div>
    <div class ="well">
        <p>If you forgot your <strong>password</strong> please text <code>reset</code> to <kbd>+1 (323) 798-9917</kbd> </p>
    </div>
{% endblock %}