<div class="pagination">
    <span class="step-links">
    <ul class = "pager">
        {% if page.has_previous %}
         <li>   <a href="?page={{ page.previous_page_number }}">Previous Page</a></li>
        {% endif %}

        {% if page.has_next %}
           <li> <a href="?page={{ page.next_page_number }}">Next Page</a></li>
        {% endif %}
    </ul>
    </span>
</div>