{% extends "base.html" %}
{% load twilio_app_tags %}
{% load humanize %}
{% block content %}

<ul class="nav nav-tabs">
    <li {% if tab_status == 'jobs' %}class="active"{% endif %}>
        <a href="{% url 'admin_dashboard' tab_status='jobs' %}">
            Jobs
            {% if number_jobs_to_confirm %}
                <span class="badge">{{ number_jobs_to_confirm }}</span>
            {% endif %}
        </a>
    </li>


    <li {% if tab_status == "employee" %}class="active"{% endif %}><a href="{% url 'admin_dashboard' tab_status='employee' %}">Employee</a></li>
    <li {% if tab_status == 'messages' %}class="active"{% endif %}><a href="{% url 'admin_dashboard' tab_status='messages' %}">Messages</a></li>
    <li {% if tab_status == 'archive' %}class="active"{% endif %}><a href="{% url 'admin_dashboard' tab_status='archive' %}">Archive</a></li>


</ul>

<div class="well">
<!-- TAB JOBS-->
{% if tab_status == 'jobs' %}
    {% include "twilio_app/managers/jobs.html"   %}

{% endif %}



<!-- TAB EMPLOYEE -->
{% if tab_status == 'employee' %}

    {% include "twilio_app/managers/employees.html"  %}

{% endif %}

<!-- TAB MESSAGES -->
{% if tab_status == 'messages' %}

    {% include "twilio_app/managers/messages.html"  %}

{% endif %}

<!-- TAB ARCHIVE -->
{% if tab_status == 'archive' %}
    {% include 'twilio_app/managers/archive.html' %}
{% endif %}
</div> <!-- well end-->
{% endblock %}