{% extends "base.html" %}
{% load twilio_app_tags %}
{% load humanize %}
{% block content %}

<div class = "sm well">
<h1>
    <strong>{{ employee.real_name }}</strong>, username <strong>{{ user.username }}</strong> phone {{ employee.phone_number }}
</h1>
</div>
<a href="{% url 'admin_dashboard' %}" class="btn btn-info" role="button">Back to Dashboard</a>

{% if records %}

    <table class="table">
    <thead>
      <tr>
        <th>Job n#</th>
        <th>Customer name</th>
        <th style="width:10%">Comments</th>
        <th>Position</th>
        <th>Hours</th>
        <th>Tips</th>
        <th style="width:10%">Worked with</th>
        <th>Date</th>
        <th>Status</th>
      </tr>
    </thead>

    <tbody>

    {% for record in records %}
      <tr class="{% record_status_table_row record.status %}"> <!-- row -->

        <td><a href ="{% url 'job_details'  record.job.job_number %}">{{ record.job.job_number }} </a></td>
        <td>{{ record.job.customer_name }}</td>
        <td>{{ record.job.comments|truncatewords:3 }}</td>
        <td>
            {% full_position_title position=record.position%}
            {% salary_for_position record %}
        </td>
        <td> {% hours_and_extra record%}</td>
        <td>{% tips_and_bonuses record%}</td>
        <td>
        {%   for teammate in record.job.get_team %}
            <a href ="{% url 'employee_details' teammate %}">{{ teammate }}</a>
            {% if not forloop.last %}, {% endif %}
            {% endfor %}
        </td>
        <td>{{ record.job.job_date|naturalday:"j M y" }}</td>
         <!-- Choosing icon for the status of the record -->
        <td>

         <form action="/edit_record_status/" method="post">
        {% csrf_token %}
        <input id="job{{ record.id }}" type="hidden" name="record_id" value="{{ record.id }}">
        <button type="submit" name ="button_record_draft" class="{% status_button 'draft'  record.status %}"><strong>?</strong></button>
        <button type="submit" name ="button_record_confirmed" class="{% status_button 'confirmed'  record.status %}">{% status_to_glyph 'confirmed' %}</button>
        <button type="submit" name ="button_record_paid" class="{% status_button 'paid'  record.status %}">{% status_to_glyph 'paid' %}</button>

        </form>
        </td>
      <!-- end of STATUS icon -->
      </tr>
    {% endfor %}
    </tbody>
    </table>

{% else %}
    <p>No records for this employee are available.</p>
{% endif %}
{% include "pagination.html" with page=records%}
{% endblock %}