{% extends 'base.html' %}
{% block title %}SMS hours tracker {% endblock %}

{% block content %}
    <div class ="well">
       <h3>Track your hours online and via SMS</h3>
       <p>To access your <strong>reports</strong> please <a href ="{% url 'login' %}">login <span class="glyphicon glyphicon-log-in"></span></a></p>
    </div>
    <div class ="well">
        <p>To register a new user an existing user need to text <code>add <i>{name} {phone number}</i> </code>
            to <kbd>+1 (323) 798-9917</kbd> from the cellphone associated with the existing account.</br>
        For example text <code>add Ben 818555555</code>. Using digits and underscore in the username is OK, but it isn't case sensitive. </p>
    </div>

<img src ="../../static/img/maked_theese.jpg" width ="150">



{% endblock %}