{% extends "base.html" %}
{% load twilio_app_tags %}
{% load humanize  %}
{% block content %}

    <div class=well xmlns="http://www.w3.org/1999/html">
        <h2>
            Employee  <strong>{{ employee.user.username }}</strong> ({{ employee.real_name }})  phone {{ employee.phone_number }}
        </h2>

        <p>
            Job{{ jobs_need_to_be_confirmed|pluralize }}  to be confirmed by your manager:
            <strong>{{jobs_need_to_be_confirmed}}</strong>
            {% if  hours_need_to_be_confirmed%}
            ({{ hours_need_to_be_confirmed }} hour{{ hours_need_to_be_confirmed|pluralize }})
            {% endif %}
        </p>

        Job{{ jobs_to_pay|pluralize }} confirmed and to be paid
        <strong>{{ jobs_to_pay }} </strong>
        {% if hours_to_pay %}
        ({{ hours_to_pay }})
        hour{{ hours_to_pay|pluralize }}
        {% endif %}
        </p>
    </div>

{% if records %}

    <table class="table">
    <thead>
      <tr>
        <th>Job #</th>
        <th>Customer name</th>
        <th>Comments</th>
        <th>Hours</th>
        <th>Tips</th>
        <th>Worked with</th>
        <th>Position</th>
        <th>Date</th>
        <th>

            <a href="{% url 'dashboard' 'draft' %}"> <span class="glyphicon glyphicon-hourglass"></span></a>
            <a href="{% url 'dashboard' 'confirmed' %}"> <span class="glyphicon glyphicon-thumbs-up"></span></a>
            <a href="{% url 'dashboard' 'paid' %}"> <span class="glyphicon glyphicon-usd"></span></a>
            <a href="{% url 'dashboard' '' %}">all </a>
        </th>
      </tr>
    </thead>

    <tbody>

    {% for record in records %}
      <tr class="success"> <!-- row -->


        <td>{{ record.job.job_number }} </td>
        <td>{{ record.job.customer_name }}</td>
        <td>{{ record.job.comments }}</td>
        <td> <!-- hours and bonuses if any-->
            {{ record.hours }}
            {% if record.extra_hours != 0 %}
                + {{ record.extra_hours }}
            {% endif %}
        </td>
        <td>
            {{ record.tips }}
            {% if record.bonus != 0 %}
                + {{ record.bonus }}
            {% endif %}
        </td>
        <!-- team of this job-->
        <td>
            {%   for teammate in record.job.get_team %}
            {{ teammate }}
            {% if not forloop.last %}, {% endif %}
            {% endfor %}
        </td>
        <td>
        {% full_position_title record.position %}
        </td>
        <!-- end of team -->
        <td>{{ record.job.job_date|naturalday }}</td>
{#        <td>{{ record.job.job_date|naturalday }}</td>#}
         <!-- Choosing icon for the status of the record -->
        <td>
        {% glyphicon_for_record record %}
        </td>
      <!-- end of STATUS icon -->
      </tr>
    {% endfor %}
    </tbody>
    </table>
    {% include "pagination.html" with page=records %}
{% else %}
    <p>No records for this employee are available.</p>
{% endif %}

{% endblock %}