{% extends "base.html" %}
{% load humanize %}
{% load twilio_app_tags %}
{% block content %}

<div class =" row well">
    <div class="col-sm-8">
        <h2>
            Job #: <strong>{{ job.job_number }}</strong>
        </h2>
        <h2>
             Customer name: {{ job.customer_name }}
        </h2>
        <h3>
             {{ job.date }}
        </h3>
        <h3>
             Comments: {{ job.comments }}
        </h3>
    </div>
    <div class="col-sm-4">
        <h1>{{   job.job_date|naturalday }}</h1>
    </div>
</div>

{#    <a href="{% url 'admin_dashboard' %}" class="btn btn-info" role="button">Back to Dashboard</a>#}

<div class="btn-group">
<a href="{% url "admin_dashboard" %}" <button type="submit"  class="btn btn-info" ><< Back to Dashboard</button></a>
</div>

<div class="btn-group">


    <a href ="{% url 'edit_job_details' job.job_number %}"><button class="btn btn-warning"><span class="glyphicon glyphicon-pencil"></span> Edit job details</button>
    </a>
</div>



{% if records %}

    <table class="table">
    <thead>
      <tr>

        <th>Employee</th>
        <th>Position</th>
        <th>Hours</th>
        <th>Tips</th>
        <th>Status
        </th>
        <th></th>
      </tr>
    </thead>

    <tbody>

    {% for record in records %}
      <tr class="{%  record_status_table_row record.status%} }"> <!-- row -->

        <td><a href ="{% url 'employee_details' record.user.username%}"> {{ record.user.username }}</a></td>
        <td>

            <!-- THIS IS SPECTACULARLY UGLY. Hope to fix it sometimes -->
        <!-- TODO: ugly construction in the template, not obvious at the moment how to fix -->
            {% for position in positions %}
            {% if position.abbr == record.position %}{{ position.title }} {% endif %}
            {% endfor %}
        </td>
        <td>{{ record.hours }}</td>
        <td>{{ record.tips }}</td>

         <!-- Choosing icon for the status of the record -->
        <td>

       <form action="/edit_record_status/" method="post">
        {% csrf_token %}
        <input id="job{{ record.id }}" type="hidden" name="record_id" value="{{ record.id }}">
        <button type="submit" name ="button_record_confirmed" class="{% status_button 'confirmed'  record.status %}">{% status_to_glyph 'confirmed' %}</button>
        <button type="submit" name ="button_record_paid" class="{% status_button 'paid'  record.status %}">{% status_to_glyph 'paid' %}</button>
        <button type="submit" name ="button_record_draft" class="{% status_button 'draft'  record.status %}">{% status_to_glyph 'draft' %}</button>
        </form>
        </td>
      <!-- end of STATUS icon -->
      <td>
      <form action="/del_employee_from_job/" method="post">
        {% csrf_token %}

        <input type="hidden" name = 'record_id' value="{{ record.id }}">

        <button type="submit" class ='btn btn-danger'>DEL</button>
</form>
      </td>
      </tr>
    {% endfor %}
    </tbody>
    </table>

{% else %}
    <p>No records for this job are available.</p>
{% endif %}

<form action="/add_employee_to_job/" method="post">
{% csrf_token %}
    <select name ='username'>
        {% for username in usernames %}
            <option  value="{{ username }}">{{ username }}</option>

        {% endfor %}
    </select>
    <input type="hidden" name = 'job_number' value="{{ job.job_number }}">
    <button type="submit" class = "btn btn-success">ADD</button>
</form>

{% endblock%}