{% load twilio_app_tags %}
{% load humanize %}

  <ul class="list-inline">
    <li><a href="#">Jobs</a></li>
    <li><a href="#">Employees</a></li>
    <li><a href="#">Actions</a></li>
  </ul>

{% if deleted_jobs %}
<table class="table">
<thead>
  <tr>

    <th>Job #</th>
    <th>Customer Name</th>
    <th>Date</th>
    <th>Employees</th>
    <th>Tips</th>
    <th>Added by</th>
      <th>Deleted by</th>

      <th>

      </th>
  </tr>
</thead>

<tbody>

{% for job in deleted_jobs %}

  <tr class="{% job_status_table_row job.status%}"> <!-- row -->

    <td><a href ="{% url 'job_details'  job.job_number %}  ">{{job.job_number}}</a></td>
    <td>{{ job.customer_name }}</td>
    <td>{{ job.job_date|naturalday }}</td>
    <td>
        {% for username in job.get_team %}
         <a href ="{% url 'employee_details' username %}">   {{username}}</a>
        {% if not forloop.last %}
            ,
        {% endif %}
        {% endfor %}
    </td>
  <td>work in progress</td>
    <td>{{ job.added_by }}</td>
    <td>{{ job.deleted_by }}</td>

     <!-- Choosing icon for the status of the job -->
    <td>




    </td>

  <!-- end of STATUS icon -->
    <td>
        <form action="/del_job/" method="post">
            {% csrf_token %}
            <input id="job{{ job.id }}" type="hidden" name="job_number" value="{{ job.job_number }}">
            <button type="submit" name ="button_undo_del_job" class="btn btn-success">UNDO</button>
        </form>
      </td>
  </tr>
{% endfor %}
</tbody>
</table>

{% else %}
<p>No deleted jobs.</p>
{% endif %}
