{% extends "base.html" %}
{% load humanize %}
{% load twilio_app_tags %}
{% block content %}

    {% if job %}
<form action ="/edit_job_details/" method="post">
{% csrf_token %}
<input type="hidden" name = 'job_number' value="{{ job.job_number }}">

<div class="row">
    <div class="col-sm-2">
        Job number {{ job.job_number }}
    </div>
    <div class="col-sm-2">
        {{ job.job_date }}
    </div>


    <div class="col-sm-2">
        <label for="Customer name">Customer name:</label>
        <input type ="text" name="customer_name" value ="{{ job.customer_name }}"  size ="20">
    </div>


    <div class="col-sm-2">
        <label for="comments">Comments:</label>
        <textarea name="comments" value ="{{ job.comments }}" rows ="3"  cols ="40">{{ job.comments }}</textarea>
    </div>

    <div class="col-sm-4">
    </div>

</div>






    <table class="table">
    <thead>
      <tr>

        <th>Employee</th>
        <th>Position</th>
        <th>Hours</th>
        <th>Extra</th>
        <th>Tips</th>
        <th>Bonus</th>
        <th></th>
      </tr>
    </thead>

    <tbody>

    {% for record in records %}
      <tr class="{%  record_status_table_row record.status%} }"> <!-- row -->

        <td><a href ="{% url 'employee_details' record.user.username%}"> {{ record.user.username }}</a></td>
         <td>
             <select name ="position_for_record_{{ record.id}}">
                    {% for p in  positions_list  %}

                        <option value ="{{ p.abbr }}" {%if p.abbr == record.position %}selected="selected"{% endif %}>
                            {{ p.title }}
                        </option>

                    {% endfor %}
             </select>
         </td>
{#        <td><input type ="text" name="position_for_record_{{ record.id}}" value ="{{ record.position }}"  size ="3"></td>#}
        <td>
            <select name="hours_for_record_{{ record.id }}">
                    {% for p in  hours_list  %}

                        <option value ={{ p }} {%if p == record.hours %}selected="selected"{% endif %}>
                            {{ p }}
                        </option>

                    {% endfor %}
             </select>
        </td>
      <td>
            <select name="extra_hours_for_record_{{ record.id }}">
                    {% for p in  hours_list  %}

                        <option value ={{ p}} {%if p == record.extra_hours %}selected="selected"{% endif %}>
                            {{ p }}
                        </option>

                    {% endfor %}
             </select>
        </td>
        <td><input type ="text" name="tips_for_record_{{ record.id }}" value = "{{ record.tips }}" size ="3"></td>
        <td><input type ="text" name="bonus_for_record_{{ record.id }}" value = "{{ record.bonus }}" size ="3"></td>

         <!-- Choosing icon for the status of the record -->
        <td>


        </td>
      <!-- end of STATUS icon -->
      <td>


      </td>
      </tr>
    {% endfor %}
    </tbody>
    </table>
<button type="submit" class ='btn btn-success'>SAVE</button>
<button type ="submit" class ='btn btn-warning' name="cancel">Cancel and return</button>
</form>
{% else %}
    <p>No records for this job are available.</p>
{% endif %}



{% endblock %}