 {% load twilio_app_tags %}
 <table class="table">
<thead>
  <tr>

    <th>Name</th>
    <th>Jobs/hours to pay</th>
    <th>Jobs/hours to check</th>
    <th>Position</th>
    <th>Phone</th>
  </tr>
</thead>

<tbody>

{% for user in users %}
  <tr class="success"> <!-- row -->

    <td><a href ="{% url 'employee_details' user.username%}">{{ user.username }}</a></td>
    <td>{{ user.employee.job_to_pay }}</td>
    <td>{{ user.employee.job_to_check }}</td>
    <td> {% full_position_title position=user.employee.possible_position %} </td>
    <td>{{ user.employee.phone_number }}</td>
    </tr>
{% endfor %}
</tbody>
</table>