{% load twilio_app_tags %}
{% load humanize %}
{% if records %}


<table class="table">
<thead>
  <tr>

    <th>Job #</th>
    <th>Customer Name</th>
    <th>Date</th>
    <th>Employees</th>
    <th>Tips</th>
    <th>Added by</th>
    <th>
        <a href="{% url 'admin_dashboard' tab_status='jobs/' job_status_filter='draft' %}"> <span class="glyphicon glyphicon-question-sign"></span></a>
        <a href="{% url 'admin_dashboard' tab_status='jobs/' job_status_filter='confirmed' %}"> <span class="glyphicon glyphicon-thumbs-up"></span></a>
        <a href="{% url 'admin_dashboard' tab_status='jobs/' job_status_filter='paid' %}"> <span class="glyphicon glyphicon-usd"></span></a>
        <a href="{% url 'admin_dashboard' tab_status='jobs/' job_status_filter='' %}">all </a>
    </th>
      <th>

      </th>
  </tr>
</thead>

<tbody>

{% for job in jobs %}

  <tr class="{% job_status_table_row job.status%}"> <!-- row -->

    <td><a href ="{% url 'job_details'  job.job_number %}  ">{{job.job_number}}</a></td>
    <td>{{ job.customer_name }}</td>
    <td>{{ job.job_date|naturalday:'j M y' }}</td>
    <td>
        {% for username in job.get_team %}
         <a href ="{% url 'employee_details' username %}">   {{username}}</a>
        {% if not forloop.last %}
            ,
        {% endif %}
        {% endfor %}
    </td>
  <td>work in progress</td>
    <td>{{ job.added_by }}</td>

     <!-- Choosing icon for the status of the job -->
    <td>
       <form action="/edit_job_status/" method="post">
        {% csrf_token %}
        <input id="job{{ job.id }}" type="hidden" name="job_number" value="{{ job.job_number }}">
        <button type="submit" name ="button_job_draft" class="{% status_button 'draft'  job.status %}">{% status_to_glyph 'draft' %}</button>
        <button type="submit" name ="button_job_confirmed" class="{% status_button 'confirmed'  job.status %}">{% status_to_glyph 'confirmed' %}</button>
        <button type="submit" name ="button_job_paid" class="{% status_button 'paid'  job.status %}">{% status_to_glyph 'paid' %}</button>

        </form>



    </td>

  <!-- end of STATUS icon -->
    <td>
        <form action="/del_job/" method="post">
            {% csrf_token %}
            <input id="job{{ job.id }}" type="hidden" name="job_number" value="{{ job.job_number }}">
            <button type="submit" name ="button_del_job" class="btn btn-danger">DEL</button>
        </form>
      </td>
  </tr>
{% endfor %}
</tbody>
</table>

{% else %}
<p>No records for this job are available.</p>
{% endif %}
{% include "pagination.html" with page=jobs %}




