{% load twilio_app_tags %}
{% load humanize %}

{% if sms_messages %}
<table class="table">
    <thead>
      <tr>
        <th>Message</th>
        <th>Sent by</th>
        <th>Date</th>
      </tr>
    </thead>

    <tbody>
    {% for sms_message in sms_messages %}
    <td>{{ sms_message.body }}</td>
    <td>{{ sms_message.from_number }}</td>
    <td>{{ sms_message.date|naturalday }}</td>
    {% endfor %}
    </tbody>
</table>
{% else %}

    <p>There are no messages</p>
{% endif %}